@import "../../style/main";

:host {
  ion-col {
    padding: 4px;
  }

  .progress-circle-container {
    position: absolute;
    top: 2%;
    left: 2%;
  }

  .myOverlay {
    width: 100%;
    position: absolute;
    z-index: 99;
    bottom: 0;
    opacity: 0.80;
    padding: 5px;
    background: #000;
    color: #fff;
    text-align: -webkit-center;
    font-size: 18px;
    font-weight: 500;
  }

  ion-card {
    padding: 0;
    border-radius: 12px;
    width: 100%;
    margin-top: 2px;
    display: flex;
    max-height: 300px;

    ion-img {
      border-radius: 12px;
    }

    ion-card-content {
      padding: 0;
    }
  }
}
