<ion-grid>
  <ion-row>
    <ion-col size-xl="1.5"  size-lg="2" size-md="3"  size="6" *ngFor="let movie of discoveredMovies">
      <ion-card (click)="showDetails(movie)">
        <ion-card-content>
          <ion-img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="poster image"></ion-img>

          <div class="myOverlay">
            {{ movie.title }}
          </div>

          <div class="progress-circle-container">
            <circle-progress [percent]="movie.vote_average * 10"></circle-progress>
          </div>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
