@import "../../style/main";
@import "../../../../theme/custom-variable";

:host {
  #loginButton {
    --color: #{$gold-darker-1};
    --border-color: #{$gold-darker-1};
  }

  #registrationButton {
    --background: #{$gold-darker-1};
  }

  ion-header {
    background: #{$background-dark};
  }

  ion-avatar {
    height: 32px;
    width: 32px;
  }

  .divider-space {
    font-size: 25px;
    padding-left: 15px;
    padding-right: 20px;
    border-left: 1px solid #6e6e6e;
  }

  ion-searchbar {
    --background: transparent;
    --color: #959595;
    --box-shadow: none;
    --icon-color: #6c6c6c;
    --placeholder-opacity: 0.7;
    padding: 0;
  }

  ion-item {
    --padding-start: 0;
  }

  .poster-image {
    width: 50px;
    height: 70px;
  }

  .poster-image-container {
    min-width: 65px;
    max-width: 65px;
    padding-left: 16px;
  }

  .search-result-item {
    padding-bottom: 3px;
    padding-top: 3px;
    background: #{$background};
  }

  .logo-img {
    width: 150px;
    height: 55px;
  }

  .use-name-container {
    min-width: 200px;
    max-width: 200px;
  }

  .logo-container {
    max-width: 170px;
    min-width: 170px;
  }

  .search-container {
    margin-left: 16px;
  }

  .icon-label {
    min-width: 60px;
    max-width: 60px;
  }

  .custom-buttons {
    font-size: 18px;
    padding-right: 16px;
  }

  .dot {
    height: 22px;
    width: 22px;
    background-color: #bb0005;
    color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    text-align: -webkit-center;
    font-weight: bold;
    font-size: 16px;
    left: 5px;
    /* top: 7px; */
    z-index: 100;
  }

  @media (max-width: 1000px) {
    .logo-container {
      max-width: 145px;
      min-width: 145px;
    }
    .search-container {
      margin-left: 0;
    }
  }


  @media (max-width: 576px) {
    .custom-buttons {
      font-size: 14px;
      padding-right: 0;
      margin-left: 10px;
    }
    .icon-label {
      min-width: 50px;
      max-width: 50px;
    }
    .search-container {
      margin-left: 0;
    }
    .divider-space {
      font-size: 23px;
      padding-left: 6px;
      margin-left: 0;
    }
    .header-info-container {
      float: right;
    }
  }

}
