@import "../../../../../shared/style/main";
@import "../../../../../../theme/custom-variable";

:host {
  ion-icon {
    font-size: 18px;
    z-index: 100;
  }

  ion-card-content {
    padding: 6px;
  }

  .comment-background {
   // background: #3d3d3dbd;
  }

  .respond-management-button-container{
    position: absolute;
    top: 0;
    right: 0;
  }

  .likes {
    margin-right: 6px;
    font-size: 14px;
  }

  ion-card-subtitle {
    padding: 0;
  }

  @media (max-width: 800px) {
    ion-card-content {
      padding: 5px;
    }
  }
}


::ng-deep .custom-mat-tooltip {
  background-color: #818181;
  font-size: 14px;
  padding: 5px;
  white-space: pre-line;
}
