<ion-card [ngClass]="{'comment-background': !isReview}">
  <ion-card-header>
    <ion-card-subtitle class="ion-padding-top ion-padding-horizontal" [ngClass]="{'comment-background': !isReview}">
      <!-- name of user -->
      <ion-label style="display: flex">
        <ng-container *ngIf="authenticatedUser &&
        authenticatedUser.uid !== comment.person.uid &&
        comment.person.displayName !== 'ANONYMOUS' ">
          <!-- follow -->
          <ion-icon *ngIf="alreadyFollowing; else alreadyFollowed"
                    matTooltipPosition="right"
                    [matTooltip]="'Follow ' + comment.person.displayName"
                    matTooltipClass="custom-mat-tooltip"
                    matTooltipShowDelay="100"
                    name="person-add"
                    class="clickable ion-margin-end"
                    (click)="followPerson(comment.person)">
          </ion-icon>
          <!-- already followed -->
          <ng-template #alreadyFollowed>
            <ion-icon name="checkmark-circle"
                      matTooltipPosition="right"
                      [matTooltip]="'You are already following ' + comment.person.displayName"
                      matTooltipClass="custom-mat-tooltip"
                      matTooltipShowDelay="100"
                      class="ion-margin-end">
            </ion-icon>
          </ng-template>
        </ng-container>
        <ion-text>{{ comment.person.displayName }}</ion-text>

      </ion-label>
      <ion-label class="ion-float-end respond-management-button-container">
        <ion-text class="ion-margin-end ion-hide-md-down">
          {{ comment.timestamp | date: 'dd.MM.yyyy HH:mm:ss'}}
        </ion-text>
        <!-- reply on comment -->
        <ng-container *ngIf="authenticatedUser && comment.person.displayName !== 'ANONYMOUS' ">
          <ion-icon
            *ngIf="isReview"
            color="primary"
            name="chatbubble-ellipses"
            class="clickable"
            style="margin-right: 8px"
            matTooltipPosition="right"
            matTooltip="Replay"
            matTooltipClass="custom-mat-tooltip"
            matTooltipShowDelay="100"
            (click)="replay()">
          </ion-icon>
          <!-- edit comment icon -->
          <ion-icon
            *ngIf="authenticatedUser.uid === comment.person.uid"
            color='warning'
            name="pencil"
            class="clickable"
            style="margin-right: 8px"
            matTooltipPosition="right"
            matTooltip="Edit"
            matTooltipClass="custom-mat-tooltip"
            matTooltipShowDelay="100"
            (click)="toggleEditComment()">
          </ion-icon>
          <!-- delete comment icon -->
          <ion-icon
            *ngIf="authenticatedUser.uid === comment.person.uid"
            color='danger'
            name="trash-bin"
            class="clickable"
            matTooltipPosition="right"
            matTooltip="Delete"
            matTooltipClass="custom-mat-tooltip"
            matTooltipShowDelay="100"
            (click)="deleteComment()">
          </ion-icon>
        </ng-container>
      </ion-label>
      <div style="width: 100%" class="ion-hide-md-up">
        <ion-text>{{ comment.timestamp | date: 'dd.MM.yyyy HH:mm:ss a'}}</ion-text>
      </div>
    </ion-card-subtitle>
  </ion-card-header>

  <!-- comment read only format -->
  <ion-card-content *ngIf="!editing">
    <ion-text class="wrap-white-space secondary-text "> {{ comment.comment }} </ion-text>
    <ion-text *ngIf="authenticatedUser">
      <div style="display: flex; float: right">
        <!-- like -->
        <div class="ion-margin-end" style="display: inline-flex">
          <ion-text
            *ngIf="comment.likes && comment.likes.length > 0"
            class="likes"
            matTooltipPosition="right"
            [matTooltip]="comment.likes.join('\r\n')"
            matTooltipClass="custom-mat-tooltip"
            matTooltipShowDelay="100">
            {{ comment.likes.length }}
          </ion-text>
          <ion-icon
            name="thumbs-up-outline"
            class="clickable"
            matTooltipPosition="right"
            matTooltip="Like"
            matTooltipClass="custom-mat-tooltip"
            matTooltipShowDelay="100"
            (click)="likeComment()"
            [ngClass]="{
              'positive': comment.likes.includes(authenticatedUser.displayName)
            }">
          </ion-icon>
        </div>

        <!-- dislike -->
        <div style="display: flex">
          <ion-text
            *ngIf="comment.dislikes && comment.dislikes.length > 0"
            class="likes"
            matTooltipPosition="right"
            [matTooltip]="comment.dislikes.join('\r\n')"
            matTooltipClass="custom-mat-tooltip"
            matTooltipShowDelay="100">
            {{ comment.dislikes.length }}
          </ion-text>
          <ion-icon
            name="thumbs-down-outline"
            class="clickable"
            matTooltipPosition="right"
            matTooltip="Dislike"
            matTooltipClass="custom-mat-tooltip"
            matTooltipShowDelay="100"
            (click)="dislikeComment()"
            [ngClass]="{
              'negative': comment.dislikes.includes(authenticatedUser.displayName)
            }">
          </ion-icon>
        </div>
      </div>
    </ion-text>
  </ion-card-content>

  <!-- editing comment -->
  <ion-card-content *ngIf="editing">
    <app-comment-form
      [comment]="comment.comment"
      [mentionPeople]="mentionPeople"
      (addComment)="editComment($event)"
      (searchPeopleByUsername)="searchUserByUsername($event)"></app-comment-form>
  </ion-card-content>
</ion-card>


