@import "../../shared/style/main";

:host {

  ion-col {
    padding: 16px;
  }

  ion-back-button {
    display: block;
    --color: #949494;
  }

  .dividing-border {
    border-right: 1px solid #666666;
    @media (max-width: 767px) {
      border-right: 0;
    }
  }

}
