<ion-grid>
  <ion-row *ngIf="movieId">
    <!-- show details about movie -->
    <ion-col size="12" size-md="6" size-xl="3.5" push-xl="0.25" push="0" class="dividing-border">
        <app-movie-details [movieDetails]="movieDetails"
                           [firebaseMovieReviews]="firebaseMovieReviews">
        </app-movie-details>
    </ion-col>

    <!-- show reviews and comments -->
    <ion-col size="12" size-md="6" size-xl="7" push-xl="0.5" push="0">
      <app-movie-intro [movieId]="movieId"
                       [movieDetails]="movieDetails"
                       [firebaseMovieReviews]="firebaseMovieReviews">
      </app-movie-intro>
    </ion-col>
  </ion-row>
</ion-grid>
