:host{
  ion-col{
    padding: 16px;
  }

  .page-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .comment-container{
    width: 600px;
  }

  .dividing-border{
    border-right: 1px solid #666666;
  }

  @media (max-width: 600px) {
    .dividing-border{
      border-right: 0;
    }
  }
}
