:host {
  ion-row {
    padding: 4px;
  }
  h1 {
    color: orange;
  }
  li {
    display: inline;
    padding: 10px;
  }
  .next-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
