<ion-grid *ngIf="user$ | async as user">
  <ion-row>
    <ion-col size="12" size-md="6" size-xl="5" push="0" push-xl="0.25">
      <ion-item class="ion-align-items-start ion-margin-bottom">
        <ion-img class="user-account-image" [src]="user?.photoUrl" alt="user image"></ion-img>
        <ion-label class="ion-margin-start">
          <div class="highlight">Account Information</div>
          <div><span class="ion-hide-sm-down">username:</span> {{ user.displayName }}</div>
          <div><span class="ion-hide-sm-down">email:</span> {{ user.email }}</div>
        </ion-label>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <app-listed-users
          (removeUser)="removeFollower($event)"
          [users]="user.usersFollowMe"
          [title]="'Users follow me'"
          [subTitle]="'Following users will get a notification when your rate a movie or comment a review'"
          [emptyMessage]="'Nobody follows your content right now, seems like you are not interested enough'">
        </app-listed-users>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <app-listed-users
          (removeUser)="removeFollowedPerson($event)"
          [users]="user.usersFollowI"
          [title]="'Users I follow'"
          [subTitle]="'You will receive a notification when following users write a review or comment'"
          [emptyMessage]="'Currently you do not follow any user'">
        </app-listed-users>
      </ion-item>
    </ion-col>

    <!-- notifications -->
    <ion-col size="12" size-md="6" size-xl="6.25" push="0" push-xl="0.5">
     <ion-item>
        <ion-label>
          <div class="highlight">Recent activity</div>
          <div class="ion-padding-vertical wrap-white-space notification-container"
               *ngFor="let notification of user.notifications | OrderIUserNotification | slice: 0: 8">
            <ion-text>{{ notification.message }}</ion-text>
            <div>
              <ion-text class="secondary-text">{{ notification.timestamp | date: 'dd.MM.yyyy HH:mm:ss a' }}</ion-text>
              <ion-text class="ion-float-end clickable visit-link" (click)="visitMovie(notification.movieId)">
                <span>visit</span>
                <ion-icon name="play" class="visit-icon"></ion-icon>
              </ion-text>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-grid>
