@import "../../../theme/custom-variable";
@import "../../shared/style/main";

:host {
  .user-account-image {
    width: 155px;
    height: 155px;
  }

  .highlight {
    font-size: 18px;
    color: #{$gold};
    margin-bottom: 5px;
  }

  .notification-container {
    display: table;
    max-width: 500px;
    min-width: 500px;
  }

  .visit-icon {
    font-size: 20px;
    position: absolute;
  }

  .visit-link {
    color: #{$gold-darker-1};
  }

  @media (max-width: 600px) {
    .user-account-image {
      width: 120px;
      height: 120px;
    }

    .notification-container {
      max-width: 325px;
      min-width: 325px;
    }
  }
}
