@import "../../../theme/custom-variable";

:host{
  .authentication-container{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
  ion-content{
    --background: #{$background};
  }

  @media (max-width: 600px) {
    .authentication-container{
      width: 100%;
    }
  }
}
