@import "../../../../shared/style/main";

:host{
  .like-number{
    font-size: 17px;
    margin-right: 6px;
    font-weight: bold;
    cursor: pointer;
  }

  ion-icon{
    font-size: 22px;
  }

  ion-card-content{
    padding: 12px !important;
  }
}



::ng-deep .custom-mat-tooltip {
  background-color: #818181;
  font-size: 16px;
  padding: 5px;
  white-space: pre-line;
}
