<ion-text class="highlight-reverse" style="font-size: 21px;">
  Filter by
</ion-text>

<!-- advance search -->
<ion-segment (ionChange)="toggleAdvanceSearch($event)" value="Genres" class="ion-margin-vertical">
  <ion-segment-button value="Genres">
    <ion-label>Genres</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Rating">
    <ion-label>Rating</ion-label>
  </ion-segment-button>
</ion-segment>

<div [hidden]="advanceSearch">
  <!-- category filter -->
  <div class="ion-padding-vertical bottom-divider">
    <ion-label class="highlight">Select movie category</ion-label>
    <ion-item class="range-selector-wrapper">
      <ion-label>Movie category</ion-label>
      <ion-select
        class="custom-options"
        multiple="true"
        placeholder="Select categories"
        (ionChange)="getValuesFromSelector($event)"
        selectedText=" "
        [value]="selectedGenreTypes">
        <ion-select-option *ngFor="let data of genreTypes" [value]="data">{{ data.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div style="width: 80%; margin: auto">
      <ion-item *ngFor="let selected of selectedGenreTypes" class="ion-no-padding">
        <ion-label class="secondary-text">{{ selected.name  }}</ion-label>
        <ion-icon name="close-circle" color="danger" class="clickable"
                  (click)="removeSelectedGender(selected)"></ion-icon>
      </ion-item>
    </div>
  </div>

  <!-- sort by -->
  <div class="ion-padding-vertical">
    <ion-label class="highlight">Sort movies by</ion-label>
    <ion-item class="range-selector-wrapper">
      <ion-label>Sort by</ion-label>
      <ion-select
        class="custom-options"
        multiple="false"
        placeholder="Sort by"
        (ionChange)="changeSorting($event)"
        selectedText=" "
        [value]="sortBy">
        <ion-select-option *ngFor="let data of categorySort" [value]="data">{{ data.displayName }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div style="width: 80%">
      <ion-item class="ion-no-padding">
        <ion-label class="primary-text">
          <ion-text class="highlight" style="margin-right: 5px">Sorted by:</ion-text>
          <ion-text class="secondary-text">{{ sortBy.displayName  }}</ion-text>
        </ion-label>
      </ion-item>
    </div>
  </div>
</div>

<!-- custom filter -->
<div [hidden]="!advanceSearch">
  <!-- range selector -->
  <ion-item class="range-selector-wrapper">
    <ion-label>Select rating</ion-label>
    <ion-select
      class="custom-options"
      multiple="true"
      placeholder="Select categories"
      (ionChange)="getValuesFromRangeSelector($event)"
      selectedText=" "
      [value]="selectedCategoryNames">
      <ion-select-option *ngFor="let name of genreTypeRatingAll" [value]="name">{{ name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- range selector names -->
  <ion-item-group>
    <app-range-rating *ngFor="let name of selectedCategoryNames"
                      [name]="name"
                      (valueEmitter)="changeRangeSelector(name, $event)">
    </app-range-rating>
  </ion-item-group>

  <!-- range selector names & values -->
  <ion-item-group *ngFor="let item of selectedCategories" class="selected-category-print">
    <ion-item>
      <ion-label>
        <ion-text style="margin-right: 6px;"> {{ item.type }}:</ion-text>
        <ion-text class="highlight-reverse"> {{ item.rate }} </ion-text>
      </ion-label>
    </ion-item>
    <ion-item
      matTooltipPosition="left"
      matTooltip="If reverse is applied, filter movies which have lower rating than picked"
      matTooltipClass="custom-mat-tooltip"
      matTooltipShowDelay="100">
      <ion-checkbox class="alert-checkbox-icon ion-margin-end"
                    [checked]="item.reverse"
                    (ionChange)="selectedCategoryReverse(item)">
      </ion-checkbox>
      <ion-label>Reverse</ion-label>
    </ion-item>
  </ion-item-group>


  <!-- SORT  -->
  <div class="sort-container">
    <ion-text class="highlight-reverse" style="font-size: 18px;">
      Sort by
    </ion-text>

    <!-- sort by movie  -->
    <form [formGroup]="sortingFrom">
      <ion-text class="secondary-text">Sort movies which have similar ranting as one you will enter</ion-text>
      <ion-item class="range-selector-wrapper ion-margin-top">
        <ion-label position="floating" placeholder="Sort movies which have similar rating as ">Movie name</ion-label>
        <ion-input formControlName="sortingMovieName"></ion-input>
      </ion-item>

      <ion-item-group class="ion-padding">
        <ion-item *ngFor="let pickMovie of sortingBySimilarMovies"
                  (click)="sortByMovie(pickMovie)"
                  class="clickable ion-margin-top pickedMovie-hover"
                  [ngClass]="{'pickedMovie' : pickMovie.movieData.title === sortingMovieName.value}">
          <ion-img [src]="'https://image.tmdb.org/t/p/w500/' + pickMovie.movieData.poster_path"></ion-img>
          <ion-label>{{ pickMovie.movieData.title }}</ion-label>
        </ion-item>
      </ion-item-group>
    </form>

    <!-- Sort by friends
    <p class="secondary-text">Sort movies based on what movies your friends like</p>
    <ion-item class="range-selector-wrapper ion-margin-top">
      <ion-label>Sort by friends</ion-label>
      <ion-select
        class="custom-options"
        multiple="false"
        placeholder="Select categories"
        (ionChange)="sortByFriend($event)"
        selectedText=" "
        [value]="selectedCategoryNames">
        <ng-container *ngIf="user$ | async as user">
          <ion-select-option *ngFor="let name of user.usersFollowI"
                             [value]="name">{{ name.displayName }}
          </ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>  -->


  </div>
  <!-- SORT END -->


</div>
