<ion-text class="highlight-reverse" style="font-size: 21px;">
  Filter by
</ion-text>

<!-- advance search -->
<ion-segment (ionChange)="toggleAdvanceSearch($event)" value="Genres" class="ion-margin-vertical">
  <ion-segment-button value="Genres">
    <ion-label>Genres</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Rating">
    <ion-label>Rating</ion-label>
  </ion-segment-button>
</ion-segment>

<div [hidden]="advanceSearch">
  <!-- category filter -->
  <div class="ion-padding-vertical bottom-divider">
    <ion-label class="highlight">Select movie category</ion-label>
    <ion-item class="range-selector-wrapper">
      <ion-label>Movie category</ion-label>
      <ion-select
        class="custom-options"
        multiple="true"
        placeholder="Select categories"
        (ionChange)="getValuesFromSelector($event)"
        selectedText=" "
        [value]="selectedGenreTypes">
        <ion-select-option *ngFor="let data of genreTypes" [value]="data">{{ data.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div style="width: 80%; margin: auto">
      <ion-item *ngFor="let selected of selectedGenreTypes" class="ion-no-padding">
        <ion-label class="secondary-text">{{ selected.name  }}</ion-label>
        <ion-icon name="close-circle" color="danger" class="clickable"
                  (click)="removeSelectedGender(selected)"></ion-icon>
      </ion-item>
    </div>
  </div>

  <!-- sort by -->
  <div class="ion-padding-vertical">
    <ion-label class="highlight">Sort movies by</ion-label>
    <ion-item class="range-selector-wrapper">
      <ion-label>Sort by</ion-label>
      <ion-select
        class="custom-options"
        multiple="false"
        placeholder="Sort by"
        (ionChange)="changeSorting($event)"
        selectedText=" "
        [value]="sortBy">
        <ion-select-option *ngFor="let data of categorySort" [value]="data">{{ data.displayName }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div style="width: 80%">
      <ion-item class="ion-no-padding">
        <ion-label class="primary-text">
          <ion-text class="highlight" style="margin-right: 5px">Sorted by:</ion-text>
          <ion-text class="secondary-text">{{ sortBy.displayName  }}</ion-text>
        </ion-label>
      </ion-item>
    </div>
  </div>
</div>

<!-- custom filter -->
<div [hidden]="!advanceSearch">
  <!-- range selector -->
  <ion-item class="range-selector-wrapper">
    <ion-label>Select rating</ion-label>
    <ion-select
      class="custom-options"
      multiple="true"
      placeholder="Select categories"
      (ionChange)="getValuesFromRangeSelector($event)"
      selectedText=" "
      [value]="selectedCategoryNames">
      <ion-select-option *ngFor="let name of genreTypeRatingAll" [value]="name">{{ name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- range selector names -->
  <ion-item-group>
    <app-range-rating *ngFor="let name of selectedCategoryNames"
                      [name]="name"
                      (valueEmitter)="changeRangeSelector(name, $event)">
    </app-range-rating>
  </ion-item-group>

  <!-- range selector names & values -->
  <ion-item *ngFor="let item of selectedCategories">
    <ion-label>
      <ion-text style="margin-right: 6px;"> {{ item.type }}:</ion-text>
      <ion-text class="highlight-reverse"> {{ item.rate }} </ion-text>
    </ion-label>
  </ion-item>

  <!-- filter button -->
  <div style="display: flex; margin-top: 20px;">
    <ion-button class="action-button" style="margin: auto" (click)="filterBasedOnRangeSelector()">
      Search
    </ion-button>
  </div>

</div>
