<!-- trailer video -->
<div class="movie-image-container">
  <div class="movie-container">
    <iframe [class.thumbnail]="'thumbnail'" [src]="safeSrc" id="youtube_frame"
            frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
  </div>

  <div class="image-container">
    <ion-img *ngFor="let image of movieImages$ | async" class="movie-image clickable"
             (click)="showImage(image)"
             [src]="'https://image.tmdb.org/t/p/w500/' + image.file_path"
             alt="poster image"></ion-img>
  </div>
</div>

<!-- reviews section -->
<ng-container *ngIf="firebaseMovieReviews && movieDetails">
  <app-comment-section
    [movieId]="movieId"
    [movieName]="movieDetails.title"
    [partialData]="movieDetails"
    [genreTypes]="movieDetails.genres"
    [reviews]="firebaseMovieReviews">
  </app-comment-section>
</ng-container>
