@import "../../../../shared/style/main";

:host {

  ion-img {
    padding: 6px;
  }

  #youtube_frame {
    width: 600px;
    height: 350px;
    @media (max-width: 1300px) {
      width: 500px;
      height: 300px;
    }
    @media (max-width: 600px) {
      width: 350px;
      height: 250px;
    }
  }

  .comment-container {
    width: 600px;
  }

  .movie-image-container {
    column-count: 2;
    padding: 20px;
    display: inline-flex;
    @media (min-width: 0px) and (max-width: 1600px) {
      column-count: 0;
      display: contents;
    }
  }

  .movie-container {
    display: inline-flex;
    width: fit-content;
    margin-right: 25px;
    @media (min-width: 0px) and (max-width: 1600px) {
      margin-right: 0;
      width: 100%;
      place-content: center;
    }

  }

  .image-container {
    column-count: 2;
    @media (min-width: 0px) and (max-width: 1600px) {
      column-count: 0;
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
      place-content: center;
    }
  }

  .movie-image {
    width: 175px;
    height: 100px;
    @media (max-width: 600px) {
      width: 45%;
    }
  }


}
