<!-- review -->
<app-comment-card
  [comment]="review"
  [authenticatedUser]="authenticatedUser"
  [mentionPeople]="mentionPeople"
  [isReview]="true"
  (searchPeopleByUsername)="searchUserByUsername($event)"
  (editCommentEmitter)="editReview($event)"
  (deleteCommentEmitter)="deleteReview()"
  (likeCommentEmitter)="likeReview()"
  (followPersonEmitter)="followPerson($event)"
  (replayCommentEmitter)="replayToggle()"
  (dislikeCommentEmitter)="dislikeReview()">
</app-comment-card>

<!-- review comments -->
<div class="review-comment" *ngFor="let comment of review.comments | commentSorting">
  <div class="ion-float-end" style="width: 80%">
    <app-comment-card
      [comment]="comment"
      [authenticatedUser]="authenticatedUser"
      [mentionPeople]="mentionPeople"
      [isReview]="false"
      (followPersonEmitter)="followPerson($event)"
      (searchPeopleByUsername)="searchUserByUsername($event)"
      (deleteCommentEmitter)="deleteComment(comment)"
      (editCommentEmitter)="editComment($event, comment)"
      (dislikeCommentEmitter)="dislikeComment(comment)"
      (likeCommentEmitter)="likeComment(comment)"
    >
    </app-comment-card>
  </div>
</div>

<!-- add comment on review -->
<div class="review-comment"  *ngIf="replayOnComment">
  <div class="ion-float-end" style="width: 80%">
    <app-comment-form
      [mentionPeople]="mentionPeople"
      (addComment)="addSubComment($event)"
      (searchPeopleByUsername)="searchUserByUsername($event)">
    </app-comment-form>
  </div>
</div>
