@import "../../../theme/custom-variable";

.clickable {
  cursor: pointer;
  transition: All 0.4s ease-out;

  &:hover {
    transform: scale(0.94);
  }
}

.wrap-white-space {
  white-space: pre-wrap;
}

.secondary-text {
  color: #{$secondary-word};
  font-size: 14px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}


