@import "../../../theme/custom-variable";

.clickable {
  cursor: pointer;
  transition: All 0.4s ease-out;

  &:hover {
    transform: scale(0.94);
  }
}

.border-b-on-hover{
  transition: All 0.4s ease-out;
  &:hover {
    border-bottom: 1px solid #cacaca;
  }
}

.wrap-white-space {
  white-space: pre-wrap;
}

.primary-text {
  font-size: 14px;
}

.highlight {
  color: #{$gold};
}

.secondary-text {
  color: #{$secondary-word};
  font-size: 13px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}


