@import "../../../../shared/style/main";
@import "../../../../../theme/custom-variable";

:host {
  .review-button {
    width: 200px;
    height: 45px;
    --background: #{$gold-darker-1};
    --color: #{$dark-word};
    //--background: #{$background-card-review};
  }

  .dividing-border {
    border-top: 1px solid #666666;
    margin-top: 40px;
  }

  .review-form-container {
    width: 80%;
    margin: auto;
    @media (max-width: 600px) {
      width: 95%;
    }
  }
}
