<!-- display reviews with comments -->
<div class="ion-padding-vertical" *ngIf="!showReviewForm">
  <ng-container *ngIf="reviews.length > 0; else noReview">
    <div *ngFor="let review of reviews | commentSorting" class="ion-padding-vertical">
      <app-comment-cards
        [review]="review"
        [authenticatedUser]="authenticatedUser"
        [mentionPeople]="searchedUsers$| async"
        (searchPeopleByUsername)="searchPeopleByUsername($event)"
        (addComment)="addCommentOnReview($event, review)"
        (editCommentEmitter)="editComment($event, review)"
        (likeCommentEmitter)="likeOrDislikeComment($event, review, true)"
        (dislikeCommentEmitter)="likeOrDislikeComment($event, review, false)"
        (deleteCommentEmitter)="deleteComment($event, review)"
        (editReviewEmitter)="editReview($event, review)"
        (deleteReviewEmitter)="deleteReview(review)"
        (likeReviewEmitter)="likeOrDislikeReview(review, true)"
        (dislikeReviewEmitter)="likeOrDislikeReview(review, false)">
      </app-comment-cards>
    </div>
  </ng-container>

  <!-- no review text -->
  <ng-template #noReview>
    <ion-item>
      <ion-label class="wrap-white-space secondary-text">
        *No review has been submitted yet. Be the first one and tell us your opinion!
      </ion-label>
    </ion-item>
  </ng-template>
</div>

<!-- select another category options -->
<div class="review-form-container">
  <div style="display: grid" [hidden]="!showReviewForm">
    <ion-item-group>
      <ion-item>
        <ion-label>Select more options</ion-label>
        <ion-select
          class="custom-options"
          multiple="true"
          placeholder="Select categories"
          (ionChange)="getValuesFromSelector($event)"
          selectedText=" "
          [value]="selectedCategories">
          <ion-select-option *ngFor="let name of genreTypeRatingAll" [value]="name">{{ name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- range selector required & chosen by user -->
      <app-range-rating *ngFor="let name of selectedCategories" [name]="name"></app-range-rating>
    </ion-item-group>

    <!-- review form -->
    <app-comment-form
      [mentionPeople]="searchedUsers$| async"
      (addComment)="addReview($event)"
      (searchPeopleByUsername)="searchPeopleByUsername($event)">
    </app-comment-form>
  </div>

  <!-- button to add review -->
  <div class="ion-text-center ion-padding-vertical dividing-border">
    <ion-button class="review-button clickable" (click)="toggleShowReview()">Add review</ion-button>
  </div>
</div>
