<div class="details-container">
  <!-- movie name and rating -->
  <ion-item class="item-information-wrapper">
    <ion-label style="min-width: 70%; max-width: 70%">
      <ion-text>{{ movieDetails?.title }} ({{movieDetails?.release_date | date: 'yyyy'}})</ion-text>
    </ion-label>
    <ion-label style="position: relative; overflow: visible">
      <ion-text>  {{ movieDetails?.vote_average }} </ion-text>
      <ion-icon name="star" [style.color]="'#ff9900'"></ion-icon>
    </ion-label>
  </ion-item>

  <!-- movie poster -->
  <app-film-poster-card [movieDetails]="movieDetails"></app-film-poster-card>

  <!-- sub information -->
  <ion-item class="item-information-wrapper">
    <ion-label>
      <div class="item-information-heading"> Overview</div>
      <div class="item-information-data"> {{ movieDetails?.overview }} </div>
    </ion-label>
  </ion-item>

  <ion-item class="item-information-wrapper">
    <ion-label>
      <div class="item-information-data space" *ngIf="movieDetails?.revenue && movieDetails?.revenue != 0">
        <span class="highlight">Revenue:</span> {{ movieDetails?.revenue | numberFormatter }}
      </div>
      <div class="item-information-data space" *ngIf="movieDetails?.budget && movieDetails?.budget != 0">
        <span class="highlight">Budget:</span> {{ movieDetails?.budget | numberFormatter }}
      </div>
      <div class="item-information-data space"
           *ngIf="movieDetails?.revenue && movieDetails?.revenue != 0 && movieDetails?.budget != 0">
        <span class="highlight">Profit:</span> {{  movieDetails?.revenue - movieDetails?.budget | numberFormatter }}
      </div>
      <div class="item-information-data space">
        <span class="highlight">Runtime: </span> {{ movieDetails?.runtime }}min.
      </div>
      <div class="item-information-data space">
        <span class="highlight">Language: </span> {{ movieDetails?.original_language | uppercase}}
      </div>
    </ion-label>
  </ion-item>

  <ion-item class="item-information-wrapper">
    <ion-label>
      <div class="item-information-heading"> Genres</div>
      <div class="item-information-data" *ngFor="let genre of movieDetails?.genres">
        {{ genre.name }}
      </div>
    </ion-label>
  </ion-item>

  <ion-item class="item-information-wrapper">
    <ion-label>
      <div class="item-information-heading"> Production companies</div>
      <div class="item-information-data" *ngFor="let company of movieDetails?.production_companies">
        {{ company.name }}
      </div>
    </ion-label>
  </ion-item>


  <ion-item class="item-information-wrapper">
    <ion-label>
      <div class="item-information-heading"> Production countries</div>
      <div class="item-information-data" *ngFor="let country of movieDetails?.production_countries">
        {{ country.name }}
      </div>
    </ion-label>
  </ion-item>
  <!-- --------------------------  -->

  <ng-container *ngIf="firebaseMovieReviews && firebaseMovieReviews.length > 0">
    <!-- rating chart -> overall rating -->
    <div class="ion-padding-vertical">
      <div class="item-information-heading">Overall Rating</div>
      <app-film-rating-chart [fillWithEmptyData]="true" [ratings]="movieRatingsOverall"></app-film-rating-chart>
    </div>

    <!-- rating chart -> user's opinion -->
    <div class="ion-padding-vertical">
      <div class="item-information-heading">User's average ratings</div>
      <app-film-rating-chart [ratings]="movieRatings"></app-film-rating-chart>
    </div>
  </ng-container>


</div>


