:host {
  ion-row {
    padding: 4px;
  }
  h1 {
    color: orange;
  }
  .dashboard-page-container{
    width: 85%;
    padding: 16px;
    margin: auto;
    @media (max-width: 600px) {
      width: 100%;
      padding: 0;
    }
  }
}
