<div class="dashboard-page-container">


  <ion-grid>
    <ion-row>
      <div class="main-info-container">
        <h2>Trending Now</h2>
        <ion-button id='searchButton' class="custom-buttons clickable" (click)="redirectToSearch()">
          Advance search
        </ion-button>
      </div>
      <app-film-cards
        [discoveredMovies]="trendingMovies$ | async">
      </app-film-cards>
    </ion-row>

    <ion-row class="section-divider">
      <h2>Upcoming films</h2>
      <app-film-cards
        [discoveredMovies]="upcomingMovies$ | async">
      </app-film-cards>
    </ion-row>

    <ion-row class="section-divider">
      <h2>Categories</h2>
      <app-categories-container
        [genreTypes]="genreTypes$ | async">
      </app-categories-container>
    </ion-row>
  </ion-grid>
</div>
