@import "../../shared/style/main";
@import "../../../theme/custom-variable";

:host {
  h2 {
    color: #{$gold};
  }
  .section-divider{
    margin-top: 40px;
  }
  .dashboard-page-container{
    width: 80%;
    padding: 16px;
    margin: auto;
    @media (max-width: 1200px) {
      width: 90%;
      padding: 6px;
    }

    @media (max-width: 600px) {
      width: 100%;
      padding: 0;
    }
  }
  #searchButton {
    float: right;
    --background: #{$gold-darker-1};
    --color: #{$dark-word};
  }

  .main-info-container{
    display: flex;
    justify-content: space-between;
    flex: auto;
  }
}
