<!-- segments to show login or registration -->
<ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="login" layout="icon-start">
        <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registration" layout="icon-start">
        <ion-label>Registration</ion-label>
    </ion-segment-button>
</ion-segment>

<div class="ion-padding">
    <app-login #loginComp *ngIf="segmentValue === 'login'" (loginEmitter)="normalLogin($event)"></app-login>
    <app-registration #registrationComp *ngIf="segmentValue === 'registration'" (registrationEmitter)="registration($event)"></app-registration>

    <!-- social media buttons -->
    <div class="ion-padding social-media-container">
        <ion-button expand="full" color="danger" class="ion-margin-bottom" (click)="signInWithGoogle()">
            <ion-icon name="logo-google" class="ion-margin-end"></ion-icon>
            Sign in with Google
        </ion-button>
    </div>
</div>
